<p>Hi! My name is Maxim Tsoy. I consider myself a <a href="https://www.cs.berkeley.edu/~bh/hacker.html">hacker</a>
and I'm constantly looking for new awesome stuff.
</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://linkedin.com/in/maxtsoy">Professional profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/muodov">Open source</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/muodov">Notable announces</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="https://blog.zok.pw">Personal blog</a>
  </li>
</ul>

<hr />

<h3>Personal projects</h3>
<ul class="fa-ul secondary-list">
  <li class="list-item">
    <span class="fa fa-gamepad fa-lg secondary-list-item-icon"></span>
    <a href="https://play.google.com/store/apps/details?id=com.muodov.papercube">Papercube</a>
  </li>
  <li class="list-item">
    <span class="fa fa-wrench fa-lg secondary-list-item-icon"></span>
    <a href="https://github.com/muodov/sqlmapchik">Sqlmapchik</a>
  </li>
  <li class="list-item">
    <span class="fa fa-cog fa-lg secondary-list-item-icon"></span>
    <a href="https://github.com/muodov/kociemba">kociemba</a>
  </li>
  <li class="list-item">
    <span class="fa fa-cog fa-lg secondary-list-item-icon"></span>
    <a href="https://blog.zok.pw/hacking/2015/08/18/fac-rubik-solver/">Rubik's cube solver</a>
  </li>
</ul>
